@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Lostar';
    src: url('../public/Fonts/Lostar.ttf');
  }

  @font-face {
    font-family: 'poppins';
    src: url('../public/Fonts/Poppins.ttf');
  }  